<div>
    <div class="row">
        <div class="col-md-6">
            <h2>Thanks for your purchase</h2>
        </div>
        {{#if exceededStock}}
            <p>Part of your purchase has been successfully processed</p>
            {{!-- <div class="col-md-2 d-flex align-items-end pe-3 justify-content-end mb-2">
                <form action="/api/carts/{{cart}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input class="removeBtn" type="submit" id="removeProduct" value="Empty cart">
                </form>
            </div> --}}
        {{/if}}
    </div>
    <div class="row">
        {{#if productos}}
        <div class="col-md-8">
            <div class="card bg-primary pb-2 shadow">
                <div class="row mx-3 mt-3">
                    {{#each productos}}
                    <div class="card mb-2">
                        <div class="row g-0">
                            <div class="col-md-2 d-flex">
                                <img src="{{thumbnail}}" class="img-fluid rounded-start mx-auto my-auto" alt="{{title}}"  style="max-height: 170px;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">{{ title }}</h5>
                                    <p class="card-text mb-1"> Quantity: <b> {{ quantity }} </b> </p>
                                    <p class="card-text"> Price: <b> $ {{ price }} </b> </p>
                                    <div class="text-end">
                                        <form action="/api/carts/{{../cart}}/product/{{pid}}?_method=DELETE" method="POST">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input class="removeBtn" type="submit" id="removeProduct" value="Remove">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center align-items-center fs-5">
                                <b> $ {{ subTotal }} </b>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-8">
            <div class="card bg-primary pb-2">
                <div class="row mx-3 mt-3">
                    <div class="card mb-2">
                        <div class="row g-0">
                            <div class="col-md">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">The cart is empty...</h5>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}



        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    Purchase Summary
                </div>
                <div class="card-body">
                    <form action="{{cart}}/purchase" method="GET">
                        <button class="btn btn-primary w-100 mb-4" type="submit">Go to checkout</button>
                    </form>
                    <div class="row">
                        <div class="col-md-8">
                            <p>Items({{cartItems}})</p>
                        </div>
                        <div class="col-md-4 text-end">
                            <p>$ {{ amount }}</p>
                        </div>
                        <div class="col-md-8">
                            <p>Shipping</p>
                        </div>
                        <div class="col-md-4 text-end">
                            <p>Free</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent">
                    <p class="text-center fs-3 mb-0"> <b> $ {{ amount }} </b> </p>
                </div>
            </div>
        </div>
    </div>
</div>