<div class="row mb-5">
    <div class="col-md-10 mx-auto">
        <div class="card bg-primary text-white">
            <div class="card-header pt-3">
                <h4 class="text-center">
                    User Profile
                </h4>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="title">First Name:</label>
                            <input
                            type="text"
                            class="form-control bg-dark text-white"
                            name="first_name"
                            placeholder="First Name"
                            value="{{first_name}}"
                            />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="description">Last Name:</label>
                            <input
                            type="text"
                            class="form-control bg-dark text-white"
                            name="last_name"
                            placeholder="Last Name"
                            value="{{last_name}}"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="code">Email:</label>
                                <input
                                type="text"
                                class="form-control bg-dark text-white"
                                name="email"
                                placeholder="Email"
                                value="{{email}}"
                                readonly
                                />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-3">
                                <label for="price">Role:</label>
                                <input
                                type="text"
                                class="form-control bg-dark text-white"
                                name="roll"
                                placeholder="Role"
                                value="{{roll}}"
                                min="1"
                                readonly
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form action="/api/users/{{id}}/profile" method="POST" enctype="multipart/form-data">
                            <div class="col-md-8">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="profile">Profile Image</label>
                                    <input
                                    type="file"
                                    class="form-control bg-dark text-white"
                                    name="profile"
                                    id="profile"
                                    />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="btn btn-success" value="Upload">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="profile">Products Images</label>
                            <input
                            type="file"
                            class="form-control bg-dark text-white"
                            name="profile"
                            id="profile"
                            multiple
                            />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="profile">Documents</label>
                            <input
                            type="file"
                            class="form-control bg-dark text-white"
                            name="profile"
                            id="profile"
                            multiple
                            />
                        </div>
                    </div>

                    <button class="btn btn-success btn-block w-100 mt-4" type="submit"> Submit </button>

                </form>
            </div>
        </div>
    </div>
</div>


<main>
    <h1>Formulario para la carga de archivos</h1>

    <h3>Subir imagen de perfil</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="profile"> Seleccionar imagen de perfil:</label>
        <input type="file" name="profile">
        <button type="submit" id="boton" name="profile">Enviar</button>
    </form>

    <h3>Subir imágenes de productos</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="products"> Seleccionar imágenes de productos:</label>
        <input type="file" name="products" multiple>
        <button type="submit" id="boton" name="products">Enviar</button>
    </form>

    <h3>Subir documentos de usuario</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="documents"> Seleccionar documentos:</label>
        <input type="file" name="documents" id="documents" multiple>
        <button type="submit" value="Upload files" id="boton" name="documents">Enviar</button>
    </form>
</main>