<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
      <div class="align-self-start">
        <a class="navbar-brand fs-4" href="/">CoderCommerce</a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        
        <ul class="navbar-nav ms-auto">
          {{#if user}}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-person-fill fs-4"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {{#if AdminUser}}
                <a class="dropdown-item" href="/api/users">Users Manager</a>
                <a class="dropdown-item" href="/api/products">Products Manager</a>
                {{/if}}
                <a class="dropdown-item" href="#">User profile</a>
                {{#if PremiumUser}}
                <a class="dropdown-item" href="/realtimeproducts">Products Manager</a>
                {{/if}}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/auth/logout">Logout</a>
              </ul>
            </li>
            {{#if AdminUser}}
            {{else}}
            <ul class="navbar-nav me-auto">
              <li class="nav-item fs-4">
                  {{#if cartItems}}
                    <a class="nav-link" href="/api/carts/{{cart}}"> <i class="bi bi-cart-check-fill"></i> </a>
                  {{else}}
                    <a class="nav-link" href="/api/carts/{{cart}}"> <i class="bi bi-cart"></i> </a>
                  {{/if}}
              </li>
            </ul>
            {{/if}}
          {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/register">Register</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
</nav>
